<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
    </testsuites>

<php>
    <server name='SERVER_NAME' value='Nginx' />
    <server name='SERVER_PORT' value='80' />
    <server name='HTTP_HOST' value='http://localhost' />
    <server name='REQUEST_METHOD' value='GET' />
    <server name='REQUEST_URI' value='silver/users/1' />
    <server name='SERVER_SOFTWARE' value='Nginx' />
</php>
</phpunit>
